<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wreetco Contact Manager</title>
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
		<link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/foundation.js"></script>
    <script src="/assets/js/templates.js"></script>
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">
        <ul class="primary condense menu-bar">
          <li><a><strong>Contact Manager</strong></a></li>
        </ul>
      </div>
      <div ui-view class="grid-block">
      </div>
			<!-- login modal -->
			<div zf-modal="" id="login" overlay="false" overlay-close="false" class="small dialog">
				<h4>Login</h4>
				<div class="grid-block form_section vertical contact_form">
					<div class="grid-block">
						<label>
							User
							<input type="text" placeholder="User" ng-model="AppCtrl.credz.user">
						</label>	
					</div>
					<div class="grid-block">
						<label>
							Password
							<input type="password" placeholder="Password" ng-model="AppCtrl.credz.password">
						</label>	
					</div>
					<div class="grid-block" style="margin: 0 33.3%;">
						<button class="button success expand" ng-click="AppCtrl.login();">Login</button>
					</div>
				</div>
			</div>
			<!-- end login modal -->
    </div>
  </body>
</html>
