<div class="grid-block">
	<div class="grid-block">
		<div zf-tabs="">
			<!-- contact tab -->
			<div zf-tab="" title="Contact">
				<div ng-include="'templates/contact_tab.html'" ng-controller="AppCtrl"></div>
			</div>
			<!-- end contact tab -->
			<!-- submissions tab -->
			<div zf-tab="" title="Inquiry">
				<div>
					<h2>Form Data</h2>
					<div id="full_table" class="grid-block small-up-2 medium-up-4">
						<!-- form obj repeat -->
						<div class="grid-block" ng-repeat-start="(field, val) in $parent.selected_contact.contact_form_data">
							<div><span style="text-transform: capitalize;">{{ field }}</span>:</div>
						</div>
						<div class="grid-block" ng-repeat-end>
							{{ val }}
						</div>
						<!-- end form obj repeat -->
					</div>
				</div>
			</div>
			<!-- end submissions -->
			<!-- tags tab -->
			<div zf-tab="" title="Tags">
				<h2>Contact Tags</h2>
				<div class="small-up-1 grid-block" id="tag_list">
					<ul class="no-bullet" style="margin-left: 1em;">
						<li ng-repeat="tag in $parent.selected_contact.tags">
							{{ tag.tag }}
							<span style="position: relative; left: .5em;">
								<img zf-iconic="" class="iconic-color-alert" icon="circle-x" size="small" />
							</span>
						</li>
					</ul>
				</div>	
				
				
			</div>
			<!-- end tags tab -->
			<!-- sent mails tab -->
			<!--
			<div zf-tab="" title="Sent Emails">
				Emails<br /><br />Emails<br /><br />Emails<br /><br />
			</div>
			-->
			<!-- end sent mails -->
			<div zf-tab="" title="Manage" zf-hard-toggle="manage_contact">
				<zf-action-sheet id="manage_contact" style="position:relative;left: 45%;">
					<zf-as-content position="bottom" >
						<p style="color: #000;">
							<strong>Contact Options</strong>
						</p>
						<ul>
							<li><a href="#" zf-open="add_tag">Add Tag</a></li>
							<li><a href="#">Assign Contact</a></li>
						</ul>
					</zf-as-content>
				</zf-action-sheet>
				<div ng-include="'templates/contact_tab.html'" ng-controller="AppCtrl"></div>
			</div>
		</div><!-- end tab toggle def -->
	</div><!-- end left block -->
</div>

<!-- add tag modal -->
<div zf-modal="" id="add_tag" overlay="false" overlay-close="true" class="tiny dialog">
	<h4>Add Tag</h4>
	<div class="grid-block">
		<label>
			Enter tag
			<span class="inline-label">
				<input style="background-color: #fff; color: #000;" type="search" placeholder="Some tag">
				<a ng-click="test()" href="#" class="button">Add</a>
			</span>
		</label>
	</div>
</div>
<!--end add tag modal -->