---
name: open
url: /open
controller: OpenContactsCtrl
---

<!-- copy this to include a left sidebar in your template -->
<div zf-panel="" id="sidebar" class="fast bounceInOut medium-3 medium-grid-content panel panel-left panel panel-left">
<span ng-include="'templates/sidebar.html'"></span>
</div>
<!-- end sidebar -->

<!-- contact list -->
<div class="medium-3 grid-content" ng-include="'templates/contact_list.html'" style="border-left: 1px solid #60626a;"></div>
<!-- end contact list -->

<!-- contact view -->
<div class="fast bounceInOut medium-6 medium-grid-content panel panel-right panel panel-right" ng-include="'templates/contact_view.html'" id="message" position="right" zf-closable="panel" style="background-color: #fff; color: #222; padding: 0;"></div>
<!-- end contact view -->