<button class="button expand" zf-hard-toggle="tag_manager" style="margin-top: 1em;">Manage</button>
<zf-action-sheet id="tag_manager" style="position:relative;left: 50%;">
<zf-as-content position="bottom" >
	<p style="color: #000;">
		Manage Tags
	</p>
	<ul>
		<li><a href="#">Delete Tag</a></li>
	</ul>
</zf-as-content>
</zf-action-sheet>


<section class="block-list with-icons">
	<li class="hide-for-medium">
		<img src="http://placehold.it/1x1" alt="">
		<a zf-close="sub-nav">Close</a>
	</li>
	<li>
		<img zf-iconic="" icon="envelope" size="medium" />
		<a ng-href="/#!/contacts/unassigned">Unassigned</a>
	</li>
	<li>
		<img zf-iconic="" icon="document" size="medium" />
		<a ng-href="/#!/contacts/open">Open</a>
	</li>
	<li>
		<img zf-iconic="" icon="circle-check" size="medium" />
		<a href="#">Archived</a>
	</li>
</section>

<section id="account_tags_list">
	<h3>Tags</h3>
	<div class="grid-block small-up-2">
		<div class="grid-block" ng-repeat-start="tag in tags">
			<!-- delete modal -->
			<div zf-modal="" id="confirm_delete_tag" overlay="false" overlay-close="false" class="small dialog">
				<h4>Are you sure?</h4>
				<p>
					If you delete this tag, it will be removed from <b>all</b> of your contacts. Continue?
				</p>
				<div class="grid-block">
					<div style="margin: 0 auto;">
						<a ng-click="removeAccountTag(tag._id.$oid)" zf-close="" class="alert button">Yes</a>
						<a zf-close="" class="secondary button" style="color: #000;">No</a>
					</div>
				</div>
			</div>
			<!--end delete modal -->
			<a ng-href="/#!/contacts/tag/{{tag.tag}}">
				{{ tag.tag }}
			</a>
		</div>
		<div class="grid-block" ng-repeat-end>
			<a style="border: 0;" zf-open="confirm_delete_tag">
				<img style="position: relative; top: .2em;" zf-iconic="" class="iconic-color-alert" icon="circle-x" size="small" />
			</a>
		</div>
	</div>
</section>




