<button class="button expand" zf-hard-toggle="tag_manager" style="margin-top: 1em;">Contacts</button>
<zf-action-sheet id="tag_manager" style="position:relative;left: 50%;">
<zf-as-content position="bottom" >
	<p style="color: #000;">
		<strong>Contacts</strong>
	</p>
	<ul>
		<li><a href="#" zf-open="new_contact">Add Contact</a></li>
	</ul>
</zf-as-content>
</zf-action-sheet>

<!-- new contact modal -->
<div zf-modal="" id="new_contact" overlay="false" overlay-close="false" class="default dialog">
	<div class="grid-block vertical contact_form">
		<!-- 
			# prop list for while we build this out
			_id => {BSON::ID}
			email
			phone_numbers => {}
			address => {}
			first_name
			last_name
			source
			account_id
			employer => {}
			assignments => {bool, []}
			social_accounts => {}
			created_date
			tag_ids => []
			contact_form_data = {}
		-->
		<div class="grid-block">
			<h4 style="color: #222;">Add Contact</h4>
		</div>
		<div class="grid-block form_section vertical">
			<h5 style="margin-bottom: .5em;">Contact Info</h5>
			<div class="grid-block">
				<div class="grid-block">
					<label>
						First name
						<input type="text" placeholder="First name" ng-model="new_contact.first_name">
					</label>	
				</div>
				<div class="grid-block">
					<label>
						Last name
						<input type="text" placeholder="Last name" ng-model="new_contact.last_name">
					</label>	
				</div>
			</div>
		</div>
		<div class="grid-block form_section">
			<label>
				Email
				<input type="email" placeholder="Email" ng-model="new_contact.email.email_address">
			</label>	
		</div>
		<div class="grid-block form_section">
			<div class="grid-block">
				<label>
					Mobile phone 
					<input type="text" placeholder="Mobile phone" ng-model="new_contact.phone_numbers.mobile">
				</label>	
			</div>
			<div class="grid-block">
				<label>
					Business phone
					<input type="text" placeholder="Business phone" ng-model="new_contact.phone_numbers.business">
				</label>	
			</div>
		</div>
		<!-- next section -->
		<!--
		<div class="grid-block">
			<h5 style="margin-bottom: .5em;">Address Info</h5>
		</div>
		<div class="grid-block vertical">
			<div class="grid-block form_section">
				<label>
					Street
					<input type="text" placeholder="Street address">
				</label>
			</div>
		</div>
		<div class="grid-block form_section">
			<div class="grid-block">
				<label>
					City
					<input type="text" placeholder="City">
				</label>
			</div>
			<div class="grid-block">
				<label>
					State
					<input type="text" placeholder="State">
				</label>
			</div>
			<div class="grid-block">
				<label>
					Zip
					<input type="text" placeholder="Zip">
				</label>
			</div>
		</div>
		-->
		<div class="grid-block vertical">
			<div class="grid-block">
				<h5 style="margin-bottom: .5em;">Social</h5>
			</div>
			<div class="grid-block">
				<div class="grid-block form_section">
					<div class="grid-block">
						<label>
							Facebook
							<input type="text" placeholder="Facebook URL" ng-model="new_contact.social_accounts.facebook">
						</label>
					</div>
					<div class="grid-block">
						<label>
							Twitter
							<input type="text" placeholder="Twitter handle" ng-model="new_contact.social_accounts.twitter">
						</label>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-block" style="margin: 0 33.3%;">
			<button class="button success expand" ng-click="newContact();">Save</button>
		</div>
		
		
	</div><!-- end master grid block -->
</div> <!-- end zf-modal -->
<!-- end new contact modal -->

<section class="block-list with-icons">
	<li class="hide-for-medium"> 
		<img src="http://placehold.it/1x1" alt="">
		<a zf-close="sub-nav">Close</a>
	</li>
	<li style="border-bottom: 0px;">
		<img zf-iconic="" icon="document" size="medium" />
		<a ng-href="/#!/contacts/all">All Contacts</a>
	</li>
	<li>
		<img zf-iconic="" icon="envelope" size="medium" />
		<a ng-href="/#!/contacts/unassigned">Unassigned</a>
	</li>
	<li>
		<img zf-iconic="" icon="person" size="medium" />
		<a ng-href="/#!/contacts/mine">My Contacts</a>
	</li>
	<!--
	<li>
		<img zf-iconic="" icon="circle-check" size="medium" />
		<a href="#">Archived</a>
	</li>
	-->
</section>

<section id="account_tags_list">
	<h3>Tags</h3>
	<div class="grid-block small-up-2">
		<div class="grid-block" ng-repeat-start="tag in tags">
			<!-- delete modal -->
			<div zf-modal="" id="confirm_delete_tag" overlay="false" overlay-close="false" class="small dialog">
				<h4>Are you sure?</h4>
				<p>
					If you delete this tag, it will be removed from <b>all</b> of your contacts. Continue?
				</p>
				<div class="grid-block">
					<div style="margin: 0 auto;">
						<a ng-click="removeAccountTag(tag._id.$oid)" zf-close="" class="alert button">Yes</a>
						<a zf-close="" class="secondary button" style="color: #000;">No</a>
					</div>
				</div>
			</div>
			<!--end delete modal -->
			<a ng-href="/#!/contacts/tag/{{tag.tag}}">
				{{ tag.tag }}
			</a>
		</div>
		<div class="grid-block" style="position:relative;" ng-repeat-end>
			<a style="border: 0;" zf-open="confirm_delete_tag">
				<img zf-iconic="" class="iconic-color-alert" icon="circle-x" size="small" style="position:absolute;right:1em;top:.25em;" />
			</a>
		</div>
	</div>
</section>






